@import "tailwindcss";

@import "./theme.css";
@plugin "../plugins/fontTailwindPlugin.js";

/* Preline UI */
@source "preline/dist/*.js";
@import "preline/variants.css";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@import "./safe.css";

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./navigation.css";
  @import "./components.css";
}

/* Ocultar scrollbar pero mantener el scroll */
::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

html,
body {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
